<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <register
                serviceType="Sitecore.Marketing.Definitions.IDefinitionManager`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing"
                implementationType="Sitecore.Support.Marketing.Definitions.Goals.GoalDefinitionManager, Sitecore.Support.78521"
                lifetime="Singleton" patch:instead="*[@implementationType='Sitecore.Marketing.Definitions.Goals.GoalDefinitionManager, Sitecore.Marketing']" />
            <register
                serviceType="Sitecore.Marketing.Definitions.IDefinitionManager`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing"
                implementationType="Sitecore.Support.Marketing.Definitions.Campaigns.CampaignDefinitionManager, Sitecore.Support.78521"
                lifetime="Singleton" patch:instead="*[@implementationType='Sitecore.Marketing.Definitions.Campaigns.CampaignDefinitionManager, Sitecore.Marketing']" />
        </services>
    </sitecore>
</configuration>