<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <marketingDefinitions>
      <goal definitionInterface="Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing">
        <definitionManager>
          <patch:attribute name="type" value="Sitecore.Support.Marketing.Definitions.Goals.GoalDefinitionManager, Sitecore.Support.78521"/>
        </definitionManager>
      </goal>
    </marketingDefinitions>
  </sitecore>
</configuration>